.container{
	width:95%;
	margin:0 auto;
}
#header{
	background-color: #ddd;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 3px;
	margin-bottom: 15px;
}
/*#assignResponsibility{*/
	/*width: 95%;*/
	/*margin:0 auto;*/
/*}*/
#taskDetails{
	border:1px solid #ddd;
}
.processInfos{
	width:80%;
	overflow: hidden;
	margin:0 auto;
}
.processInfo{
	width:610px;
	min-height:200px;
	float:left;
}
.processImg{
	float: left;
	border:1px solid #ddd;
	overflow-x:scroll;
	margin-bottom: 10px;
}
#seatcontainer{
	width: 80%;
	margin:0 auto;
}
#seatingIssue form label,#seatingIssue form span{
	font-size: 16px;
}
.ant-select-selection__placeholder{
	font-size: 14px;
}

.editable-cell>.editable-cell-input-wrapper>input{
	width:100px;
}

#accident .ant-table-thead > tr > th,#accident .ant-table-tbody > tr > td {
	padding:16px 2px;
}
#accident .ant-table-thead > tr> th:first-child{
	/*border-right:1px solid #ddd;*/
	text-align: center;
}
#accident .ant-table-tbody > tr> td:first-child  {
	/*border-right:1px solid #ddd;*/
	text-align: center;
}
/*后填样式*/
#accident a{
	color: #585C5E;
}
#accident a:hover{
	color: #108EEA;
}