.container{
	width:95%;
	margin:0 auto;
}
@media screen and (max-width: 1800px) {
    .container,#container{
       width: 1800px;
       overflow-x: scroll;
    }
}
#header{
	background-color: #ddd;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 3px;
	margin-bottom: 15px;
}
#taskDetails{
	border:1px solid #ddd;
}
.processInfos{
	width:80%;
	overflow: hidden;
	margin:0 auto;
}
.processInfo{
	width:520px;
	height:200px;
	float:left;
}
.processImg{
	float: left;
	border:1px solid #ddd;
	overflow-x:scroll;
	margin-bottom: 10px;
}

#seatcontainer{
	width: 80%;
	margin:0 auto;
}
#seatingIssue form label,#seatingIssue form span{
	font-size: 16px;
}
.ant-select-selection__placeholder{
	font-size: 14px;
}

.editable-cell>.editable-cell-input-wrapper>input{
	width:100px;
}

#accident .ant-table-thead > tr > th,#accident .ant-table-tbody > tr > td {
	padding:16px 2px;
}
/*后填样式*/
#accident a{
	color: #585C5E;
}
#accident a:hover{
	color: #108EEA;
}

/*1月4日添加*/
span.ant-switch-small {
    height: 18px;
    min-width: 28px;
    line-height: 17px;
}
span.ant-switch-small.ant-switch-checked:after {
    left: 100%;
    margin-left: -12.5px;
    margin-top: 2px;
}
span.ant-switch-small:after {
    width: 12px;
    height: 12px;
    top: 0;
    left: 0.5px;
    margin-top: 2px;
}
input.ant-input-number-input[disabled]{
	color:rgba(0, 0, 0, 0.7)
}
/*#proManagement{
	width: 2000px;
	overflow-x: scroll;
}*/